<form action="/products/<%= @cable.id %>" method="post">
  <input type="hidden" name="_method" value="patch"> <!--Needed since browsers do not support the patch verb--> 
  <h1>Edit Cable</h1>
  <div>
    Name:<input type="text" name="name" value="<%= @cable.name %>"><br>
  </div>
  <div>
    Price:<input type="text" name="price" value="<%= @cable.price %>"><br>
  </div>
  <div>
    Length:<input type="text" name="length" value="<%= @cable.length %>"><br>
  </div>
  <div>
    Function:<input type="text" name="function" value="<%= @cable.function %>"><br>
  </div>
  <div>
    Model Year:<input type="text" name="model_year" value="<%= @cable.model_year %>"><br>
  </div>
  <div>
    Description:<input type="text" name="description" value="<%= @cable.description %>"><br>
  </div>
  <div>
    In Stock:<input type="checkbox" name="in_stock" value="<%= @cable.in_stock %>"><br>
  </div>
  <div>
    Vendor:<input type="text" name="vendor" value="<%= @cable.vendor.id %>"><br>
  </div>
  <div>
    <input type="submit" value="Edit product">
  </div>
</form>